ca/*
caches/*
etc/.config/
etc/containerd.config.toml
etc/controller-*
etc/coredns.yaml
etc/coredns.yaml.in
etc/encryption-config.yaml.in
etc/envsubst.list
etc/haproxy.cfg
etc/haproxy.cfg
etc/haproxy.cfg_k8s_api
etc/haproxy.cfg_main
etc/haproxy.cfg_traefik
etc/.helm/
etc/.kube/
etc/kube-apiserver.service
etc/kube-controller-manager.service
etc/kube-proxy-config.yaml
etc/ssh.config
etc/ssh.known_hosts
etc/.vagrant.d/
etc/vboxdns.service
etc/vboxdns.service
etc/worker-*
machines/*
etc/encryption-config.yaml
etc/haproxy/*.cfg
etc/haproxy/*.backup*
*.rej
*.orig
etc/haproxy*
etc/kube-proxy.service
etc/custom.env.sh
